* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 128, 0);
    font-family: 'Lexend', sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

header h1 img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav button#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: rgb(226, 160, 36);
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(226, 160, 36);
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    nav button#menu-toggle {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: bottom;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: black;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }
}

section {
    margin: 2rem 0;
    padding: 2rem;
    background-color: rgb(226, 160, 36);
}

section h2 {
    color: black;
    font-size: 1.5rem;
}

.game {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game img {
    max-width: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

.gameName {
    color: black;
    font-size: 1.25rem;
}

.game p {
    color: sienna;
}

footer {
    background-color: black;
    color: rgb(226, 160, 36);
    text-align: center;
    padding: 2rem;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 0.5rem 0;
}

footer a {
    color: rgb(226, 160, 36);
    text-decoration: none;
}
